@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Rubik:wght@300&display=swap');
*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 250px;
}

/* Login body*/

#login-container {
    background: #FEFEFE;
    border-radius: 33px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    overflow: hidden;
}

#login-container .login-wrapper {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Mulish', sans-serif;
    justify-content: space-around;
}

.login-image img {
    width: 500px;
    height: 550px;
    margin-right: 130px;
    margin-top: 100px;
    border-radius: 32px;
    filter: grayscale(0.9);
    -webkit-filter: grayscale(0.9);
}

.login-details .login-image {
    display: flex;
}

.login-details {
    margin-top: 80px;
    margin-left: 130px;
}

.dark-color {
    color: #313236;
}

.light-color {
    color: #5A656F;
}

.login-details #heading {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    line-height: 42px;
    margin-bottom: 10px;
}

.login-details button {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.twitter-btn {
    background-color: white;
    border: 4px double #313236;
    color: #000;
}

.twitter-btn:hover {
    background-color: #313236;
    border-top: 4px double white;
    border-left: 4px double white;
    color: white;
    margin-right: 20px;
}

.google-btn {
    background-color: #313236;
    border-top: 4px double white;
    border-left: 4px double white;
    color: white;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: white;
    border: 4px double #313236;
    color: #000;
}

.or {
    font-size: 15px;
    color: #ACBDD0;
    text-align: center;
    margin-right: 10px;
}

.login-form label {
    color: #5A656F;
}

.login-form input[type=email],
[type=password] {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 20px;
    color: #313236;
    width: 450px;
    border-bottom: 1px #313236 solid;
    margin-bottom: 10px;
}

.login-form a {
    margin-left: 200px;
    
}

.none {
    text-decoration: none;
}

.login-form button[type=submit] {
    border-radius: 10px;
    background-color: #EBBA32;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 4px double #b6912a;
}

.login-form button[type=submit]:hover {
    background-color: #dac71c;
}

.signup {
    margin-top: 20px;
}

@media(max-width: 468px) {
    .login-form a {
        margin-left: 40px;
    }
}

/* RESPONSIVENESS */
@media(max-width: 768px) {
    
    .login-image img {
        display: none;
    }
    .login-details {
        margin-top: 10px;
        margin-left: 10px;
    }
    .login-details button {
      width: 180px;
      height: 50px;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-left: 120px;
  }
    .login-form a {
        margin-left: 80px;
    }
    .login-form input[type=email],
    [type=password] {
        margin-bottom: 10px;
    }
    .or {
      font-size: 15px;
      display: block;
      margin-left: 40px;
      margin-bottom: 20px;
  }
  #heading{
    margin-left: 30px;
  }
  .login-form input[type=email],
[type=password]{
  width: 400px;
}

}
