@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');


/* body styling */
    .reset-section{
        background-color: white;
        box-sizing: border-box;
        max-width: 100%;
        
        justify-content: space-between;
    }
    .reset-section .reset-case{
        display: flex;
        flex-direction: row ;
        justify-content: space-around;
    }
    .reset-case img{ 
        width: 700px;
        height:600px;
    }
    .reset-case .image_case{
        flex: 1.5;
        margin-top: 20px;
        margin-left: 5px;
    }
    .reset-case .form_case{
        flex: 1.2;
        margin-right: 10px;
        margin-top: 60px;
    }
    .reset-case .first-text{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        text-indent: 20px;
        margin: 10px 30px 10px 10px;
        font-style: normal;
        font-size: 35px;
        line-height: 49.91px;
        color: #313236;
    }
    /* .reset-case .-text{
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        text-indent: 20px;
        margin: 10px;
        margin-left: 10px;
        line-height: 22.52px;
        font-weight: normal;
        color: #313236;
    } */
    .input-icon i{
        position: absolute;
        margin-top: 19px;
        margin-left: 360px;
        float: right;
        padding: 15px;
        color: gray;
      }
    .reset-case input[type = text]{
        width: 400px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        height: 60px;
        color: #313236;
        font-size: 14px;
        border: 2px solid gray;

    }
    .reset-case input[type = password]{
        width: 400px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        height: 60px;
        color: #313236;
        font-size: 14px;
        border: 2px solid gray;

    }
    
    
    .reset-case input[type = text]:focus{
        border: 3px solid #FFE6A1;
        outline: none;
    }
    .reset-case input[type = password]:focus{
        border: 3px solid #FFE6A1;
        outline: none;
    }
    
    .input-icon button {
        background-color: #3A4151;
        width: 400px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 26px;
        margin: 10px;
        color: #FFE6A1;
        font-weight: bold;
    }
    .input-icon button:hover{
        box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
       
       
    }
    .input-icon .reset:hover{
        color: #ebbf46;
    }
    .resetcode{
        color:#3A4151;
        font-size: 14px;
        font-weight: bold;
        text-indent: 120px;
    }
    
     @media(max-width:280px) {
        .reset-case img{ 
           display: none;
        }
        .reset-case .image_case{
           display: none;
        }
        
        .reset-case .form_case{
            
            margin-right: 20px;
            margin-top: 20px;
            margin-left: 20px;
        }
        .reset-case .first-text{
            text-indent: 5px;
            margin: 3px;
            font-style: normal;
            font-size: 30px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 14px;
            text-indent: 5px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 190px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 230px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 230px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 230px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 13px;
            font-weight: bold;
            text-indent: 60px;
        }
    } 

    @media(max-width:320px) {
        .reset-case img{ 
           display: none;
        }
        .reset-case .image_case{
           display: none;
        }
        .reset-case .form_case{
            margin-left: 5px;
            margin-top: 25px;
           margin-right: 20px;
        }
        .reset-case .first-text{
            text-indent: 5px;
            margin: 3px;
            font-style: normal;
            font-size: 30px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 11.5px;
            text-indent: 2px;
            margin: 3px;
            margin-left: 5px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 210px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 250px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 250px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 250px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 12px;
            font-weight: bold;
            text-indent: 70px;
        }
    }
     @media(max-width:360px) {
        .reset-case img{ 
           display: none;
        }
        .reset-case .image_case{
           display: none;
        }
        .reset-case .form_case{
           
            overflow: hidden;
            margin-top: 30px;
            margin-left: 10px;
           margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 10px;
            margin: 3px;
            font-style: normal;
            font-size: 32px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 14px;
            text-indent: 8px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 280px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 320px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 320px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 320px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 104px;
        }
    } 
     @media(max-width:414px) {
        .reset-case img{ 
           width: 200px;
           height: 200px;
           margin: 20px;
          margin-left: 40px;
        }
         .reset-section .reset-case{
            display: flex;
            flex-direction: column ;
            justify-content: space-around;
        } 
        .reset-case .image_case{
            flex:0.1;
           
        }
        .reset-case .form_case{
             flex: 1; 
            overflow: hidden;
            margin-top: 10px;
            margin-left: 10px;
           margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 15px;
            margin: 3px;
            font-style: normal;
            font-size: 31px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 15px;
            text-indent: 12px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 351px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 381px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 381px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 381px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 136px;
        }
    }
     @media(max-width:375px) {
        .reset-case img{ 
           width: 200px;
           height: 200px;
           margin: 20px;
          margin-left: 40px;
        }
         .reset-section .reset-case{
            
            display: flex;
            flex-direction: column ;
            margin-left: 8px;
            justify-content: space-around;
        } 
        .reset-case .image_case{
            flex:0.1;
           
        }
        .reset-case .form_case{
             flex: 1; 
            overflow: hidden;
            margin-top: 10px;
            margin-left: 10px;
           margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 15px;
            margin: 3px;
            font-style: normal;
            font-size: 31px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 13.5px;
            text-indent: 12px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 295px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 335px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 335px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 335px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 115px;
        }
    }
     @media(max-width:540px) {
        .reset-case img{ 
           width: 250px;
           height: 250px;
           margin: 20px;
           margin-left: 40px;
          
        }
         .reset-section .reset-case{
            
            display: flex;
            flex-direction: column ;
            margin-left: 8px;
            justify-content: space-around;
        } 
        .reset-case .image_case{
            flex:0.1;
           
        }
        .reset-case .form_case{
             flex: 1; 
            overflow: hidden;
            margin-top: 10px;
            margin-left: 10px;
           margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 15px;
            margin: 3px;
            font-style: normal;
            font-size: 31px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 13.5px;
            text-indent: 12px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 440px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 480px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 480px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 480px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 184px;
        }
    } 
    @media(max-width:768px) {
        .reset-case img{ 
           width: 290px;
           height: 240px;
           margin-top: 10px;
           margin-left: 30px;
           margin-bottom: -100px;
          
        }
         .reset-section .reset-case{
            
            display: flex;
            flex-direction: column ;
            margin-left: 8px;
            justify-content: space-around;
        } 
        .reset-case .image_case{
            flex:0.1;
           
        }
        .reset-case .form_case{
             flex: 1; 
            overflow: hidden;
            margin-top: 5px;
            margin-left: 50px;
           margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 15px;
            margin: 3px;
            
            font-style: normal;
            font-size: 31px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 13.5px;
            text-indent: 12px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 668px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 708px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 708px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 708px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 300px;
        }
    }
    
    @media(max-width:890px) {
        .reset-case img{ 
           width: 400px;
           margin-top: 10px;
           
          
        }
         
        .reset-case .image_case{
            flex:1;
           
        }
        .reset-case .form_case{
            flex:1; 
            overflow: hidden;
            margin-top: 90px;
            margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 15px;
            margin: 3px;
            font-style: normal;
            font-size: 32px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 14px;
            text-indent: 12px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 114px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 154px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 154px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 154px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 125px;
        }
    }
   
    @media(max-width:1024px) {
        .reset-case img{ 
           width: 400px;
           margin-top: 10px;
           
          
        }
         
        .reset-case .image_case{
            flex:1;
           
        }
        .reset-case .form_case{
            flex:1; 
            overflow: hidden;
            margin-top: 90px;
            margin-right: 10px;
        }
        .reset-case .first-text{
            text-indent: 15px;
            margin: 3px;
            font-style: normal;
            font-size: 32px;
            line-height: 49.91px;
            color: #313236;
        }
        .reset-case .second-text{
            
            font-size: 14px;
            text-indent: 12px;
            margin: 3px;
            margin-left: 10px;
            line-height: 22.52px;
            font-weight: normal;
            color: #313236;
        }
        .input-icon i{
            position: absolute;
            margin-top: 19px;
            margin-left: 314px;
            float: right;
            padding: 10px;
            color: gray;
          }
        .reset-case input[type = text]{
            width: 354px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        .reset-case input[type = password]{
            width: 354px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            height: 50px;
            color: #313236;
            font-size: 14px;
            border: 2px solid gray;
    
        }
        
        
        .reset-case input[type = text]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        .reset-case input[type = password]:focus{
            border: 3px solid #FFE6A1;
            outline: none;
        }
        
        .input-icon button {
            background-color: #3A4151;
            width: 354px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            margin: 10px;
            color: #FFE6A1;
            font-weight: bold;
        }
        .input-icon button:hover{
            box-shadow: 0px 3px 3px 2px rgba(58, 65, 81, 0.90);
           
           
        }
        .input-icon .reset:hover{
            color: #ebbf46;
        }
        .resetcode{
            color:#3A4151;
            font-size: 14px;
            font-weight: bold;
            text-indent: 125px;
        }
    }
   